/*COULEURS*/
:root {
    --fond: #e5a46c;
    --accents: #101d25;
    --texte: #000000;
    --titre: #ffffff;
    --secondaire: #78ade2;
    --table:#E6944E;
}

mark{
    background-color: transparent;
    text-decoration: underline;
}

.logo-cartalogue {
    height: auto;
    width: 20vmin;
}

.logo-humans {
    height: auto;
    width: 15vmin;
}

@font-face {
    font-family: Geologica;
    src: url(geologica.ttf);
}

body {
    font-family: Geologica;
    background-color: var(--fond);
    color: var(--texte);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    cursor: pointer;
}

h2, .info{
    font-weight: bolder;
    border: solid #000;
    background-color: var(--titre);
    text-align: center;
}

h3{
    font-weight: bold;
}

h4{
    text-decoration:overline;
}

/*TITRE*/
.cartalogue {
    all: unset !important;
}
/*FIN TITRE*/

main {
    flex-grow: 1;
}

ul {
    display: inline-block;
    width: 80%;
    padding: 0%;
}

footer {
    margin-top: 1vh;
    background-color: var(--accents);
    color: var(--titre);
}

/*LIENS*/
a:link,
a:visited {
    color: var(--titre);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--secondaire);
    text-decoration: underline;
}
/*FIN LIENS*/

/*BOUTON RETOUR EN HAUT*/
.retourEnHaut {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
.retourEnHaut > img{
    width: 2rem;
    height: 2rem;
    background-color: var(--titre);
    border-radius: 50%;
}
/*FIN BOUTON RETOUR EN HAUT*/

/*MENU PAGE DACCUEIL*/
.menu {
    font-size: 2rem;
}
/*FIN MENU PAGE DACCUEIL*/

/*LISTE JEUX*/
.liste {
    column-count: 3;
    column-width: 250px;
}

.ul_jeux {
    display: block;
    margin-left: auto;
    margin-right: auto;
margin-top: 0;    font-size: 1.2rem;
}

li {
    background-color: var(--accents);
    border-radius: 5px;
    text-align: center;
    list-style: none;
    margin-bottom: 1em;
    padding: 3vh;
}
/*FIN LISTE JEUX*/

/*TABLE*/
table{
      border-collapse: collapse;
      margin-bottom: 1vh;
}

td, th {
  border: 1px solid var(--texte);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--table);
}

/*FIN TABLE*/

/*PAGE DE JEU*/
.jeux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    text-align: left;
}

.jeux p{
    white-space: pre-line;
    text-align: justify;
}
/*FIN PAGE DE JEU*/

/*ENCART INFO*/
.info {
    margin: auto;
    padding: 0 1vh 0 1vh;
}
/*FIN ENCART INFO*/